@use "../1-helpers/all-helpers" as *;


header {
    @include set-color-theme($primary-dark-bg);
}

footer {
    @include set-color-theme($primary-dark-bg);

    .contact {
        @extend %flex--column;
        align-items: flex-start;

        &__info {
            margin-top: map-get($pad, "default");
    
            & > * {
                margin-top: map-get($pad, "default");
            }

            @include set-media(map-get($screen, "tablet")) {
                margin: map-get($pad, "tablet")
                        2.4rem
                        map-get($pad, "tablet")
                        0;
            }
        }

       &__person {
            font-weight: 700;
        }

        @include set-media(map-get($screen, "tablet")) {
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    .heading {
        font-weight: 400;
        font-size: 1.8rem;
        padding-top: map-get($pad-heading, "tablet");

        @include set-media(map-get($screen, "tablet")) {
            position: absolute;
            top: 0;
            right: 3.6rem;
        }

    }

    .copyright {
        padding: map-get($pad, "default") 0;
    }

    @include set-media(map-get($screen, "tablet")) {
        padding-bottom: map-get($pad, "tablet");

        p, a{
            line-height: 2rem;
        }
    }


}

.limiting-container {
    @extend %limiting-container;

    &--header {
        padding-left: 0;
        padding-right: 0;

        @include set-media(map-get($screen, "tablet")) {
            padding-right: map-get($pad, "tablet");
            padding-left:map-get($pad, "tablet");
        }
    
        @include set-media(map-get($screen, "desktop")) {
            padding-right: 0;
            padding-left:0;
            margin-right: auto;
            margin-left: auto;
        }
    }

}

.cta-button {
    @include set-color-theme($primary-dark-bg);
    height: 4rem;
    width: 100%;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    border-radius: .4rem;
    cursor: pointer;

    &--shows {
        @include set-media(map-get($screen, "tablet")) {
            width: 25%;
            align-self: flex-end;
        }
    }

    &:hover {
        background-color: $cta-hover-bg;
    }
}