@use "../1-helpers/all-helpers" as *;


header {
    @include set-color-theme($primary-dark-bg);
}

footer {
    @include set-color-theme($primary-dark-bg);

    .contacts {
        @extend %flex--column;
        align-items: flex-start;

        .contact {
            margin-top: map-get($pad, "default");
            margin-left: map-get($pad, "default");
    
            & > * {
                margin-top: map-get($pad, "default");
            }
    
            .contact__person {
                font-weight: 700;
            }

            @include set-media(map-get($screen, "tablet")) {
                margin: map-get($pad, "tablet")
                        map-get($pad, "tablet") / 2
                        map-get($pad, "tablet")
                        map-get($pad, "tablet");
            }
        }

        @include set-media(map-get($screen, "tablet")) {
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    .heading {
        font-weight: 400;
        font-size: 1.8rem;
        padding-top: map-get($pad-heading, "tablet");
        margin-left: map-get($pad, "default");

        @include set-media(map-get($screen, "tablet")) {
            position: absolute;
            top: 0;
            right: map-get($pad-heading, "tablet");
        }

    }

    .copyright {
        padding: map-get($pad, "default") 0;
        margin-left: map-get($pad, "default");

        @include set-media(map-get($screen, "tablet")) {
            margin-left: map-get($pad, "tablet");
        }
    }

    @include set-media(map-get($screen, "tablet")) {
        p, a{
            line-height: 2rem;
        }
    }


}

.headline {
    padding-top: map-get($pad-heading, "default");

    @include set-media(map-get($screen, "tablet")) {
        padding-top: map-get($pad-heading, "tablet");
    }
}

.limiting-container {
    max-width: $max-width-container;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}