@use "../1-helpers/all-helpers" as *;


header {
    @include set-color-theme($primary-dark-bg);
}

.footer {
    @include set-color-theme($primary-dark-bg);
    padding: 0 map-get($pad, "default");

    .contacts {
        @extend %flex--column;
        align-items: flex-start;

        .contact {
            margin-top: map-get($pad, "default");
    
            & > * {
                margin-top: map-get($pad, "default");
            }
    
            .contact__person {
                font-weight: 700;
            }
        }
    }

    &__header {
        font-weight: 400;
        padding-top: map-get($pad-heading, "tablet");
    }

    &__copyright {
        padding: map-get($pad, "default") 0;
    }

    @include set-media(map-get($screen, "tablet")) {
        p, a{
            line-height: 2rem;
        }
    }


}

.headline {
    padding-top: map-get($pad-heading, "default");

    @include set-media(map-get($screen, "tablet")) {
        padding-top: map-get($pad-heading, "tablet");
    }
}