@use "../1-helpers/all-helpers" as *;

html {
    font-family: "Avenir Next";
    font-size: 62.5%;
    color: $font-color-light-bg;
}

body {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1{
    @extend %main-heading;

    @include set-media(map-get($screen, "tablet")) {
        font-size: 6rem;
        line-height: 6.8rem;
    }
}

h2 {
    @extend %main-heading;

    @include set-media(map-get($screen, "tablet")) {
        font-size: 3.6rem;
        line-height: 4.4rem;
    }
} 

h3 {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 600;

    @include set-media(map-get($screen, "tablet")) {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }
}

address {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;
    font-style: normal;

    @include set-media(map-get($screen, "tablet")) {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }
}

p {
    @extend address;
    max-width: 70ch;
}

cite {
    @extend p;
    display: block;
}

a {
    @extend p;
    color: inherit;
    text-decoration: none;
}

blockquote {
    @extend p;
}

ul {
    list-style: none;
}
