@use "../1-helpers/variables" as *;

html {
    font-family: "Avenir Next";
    font-size: 62.5%;
    color: $font-color-light-bg;
}

body {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 600;
}

p, a {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}