@use "../1-helpers/all-helpers" as *;

.nav {
    @extend %flex--column;
    $nav: &;

    &__list {
        @extend %flex;
    }

    &--main {

        #{$nav}__header {
            padding-top: map-get($pad, "default");

            @include set-media(map-get($screen, "tablet")) {
                font-weight: 400;
                font-size: 2.4rem;
                padding: 0;
            }
        }

        #{$nav}__list {
            justify-content: space-around;
            width: 100%;

            @include set-media(map-get($screen, "tablet")) {
                justify-content: flex-start;
            }
        }

        #{$nav}__item {
            width: 50%;
            text-align: center;
    
            &--active {
                .nav__link {
                    @extend %link-active;
                    font-weight: 700;
                }
            }

            @include set-media(map-get($screen, "tablet")) {
                width: fit-content;
                margin-left: map-get($pad, "tablet");
            }
        }
    
        #{$nav}__link {
            display: block;
            color: $inactive-link;
            padding: map-get($pad, "default");
    
            &:hover {
                @extend %link-active;
            }

            @include set-media(map-get($screen, "tablet")) {
                display:inline-block;
                padding: map-get($pad, "tablet") 0;
            }
        }

        @include set-media(map-get($screen, "tablet")) {
            flex-direction: row;
            padding: 0 map-get($pad-heading, "tablet");
        }

    }

    &--footer {
        align-items: flex-start;
        margin-left: map-get($pad, "default");

        #{$nav}__header {
            font-weight: 700;
        }

        #{$nav}__list {
            margin-top: map-get($pad, "default");

            @include set-media(map-get($screen, "tablet")) {
                margin-left: map-get($pad, "tablet");
                margin-top: map-get($pad, "tablet");
            }
        }

        #{$nav}__item {
            padding-right: 2 * map-get($pad,"default");
        }

        @include set-media(map-get($screen, "tablet")) {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
        }

        @include set-media(map-get($screen, "tablet")) {
            margin-left: map-get($pad, "tablet");
        }
    }

}