@use "../1-helpers/all-helpers" as *;

.nav {
    @extend %flex--column;
    $nav: &;

    &__list {
        @extend %flex;
    }

    &--main {
        #{$nav}__list {
            justify-content: space-around;
            width: 100%;
        }

        #{$nav}__item {
            flex-basis: 100%;
            text-align: center;
    
            &--active {
                .nav__link {
                    @extend %link-active;
                    font-weight: 700;
                }
            }
    
        }
    
        #{$nav}__link {
            display: block;
            color: $inactive-link;
            padding: map-get($pad, "default");
    
            &:hover {
                @extend %link-active;
            }
        }

    }

}