@use "./variables" as *;
@use "./functions" as *;

@mixin set-color-theme($background-color) {
    background-color: $background-color;
    color: set-font-color($background-color);
}

@mixin set-background($url) {
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin set-media($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin center-body-text {
    @include set-media(map-get($screen, "mobile2")){
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}