@use "./variables" as *;
@use "./functions" as *;

@mixin set-color-theme($background-color) {
    background-color: $background-color;
    color: set-font-color($background-color);
}

@mixin set-background($url) {
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin set-media($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin set-pad($side: "all") {
    @if ($side == "all") {
        padding: map-get($pad, "default");
    } 
    @else if ($side == "vertical") {
        padding: 0 map-get($pad, "default");
    }
    @else if ($side == "horizontal") {
        padding: map-get($pad, "default") 0;
    } @else {
        padding-#{$side}: map-get($pad, "default");

    }

    
    @include set-media(map-get($screen, "tablet")) {
        @if ($side == "all") {
            padding: map-get($pad, "tablet");
        }
        @else if ($side == "vertical") {
            padding: 0 map-get($pad, "tablet");
        }
        @else if ($side == "horizontal") {
            padding: map-get($pad, "tablet") 0;
        } @else {
            padding-#{$side}: map-get($pad, "tablet");
        }

       
    }
}

@mixin set-pad-heading {
    padding-top: map-get($pad-heading, "default");

    @include set-media(map-get($screen, "tablet")) {
        padding-top: map-get($pad-heading, "tablet");
    }
}