// flex
%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex--column {
    @extend %flex;
    flex-direction: column;
}

// cover whole parent
%cover {
    height: 100%;
    width: 100%;
}

// active link
%link-active {
    color: inherit;
    border-bottom: 2px solid;
    border-bottom-color: inherit;
}

// main heading 
%main-heading {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;
}