@use './variables' as *;
@use './mixins' as *;

// flex
%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex--column {
    @extend %flex;
    flex-direction: column;
}

// cover whole parent
%cover {
    height: 100%;
    width: 100%;
}

// active link
%link-active {
    color: inherit;
    border-bottom: 4px solid;
    border-bottom-color: inherit;
}

// main heading 
%main-heading {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;
}

// comment section limiting container 
%comments-container {
    max-width: 64rem;

    @include set-media(map-get($screen, "tablet")) {
        margin-left: auto;
        margin-right: auto;
    }
}

%profile-img {
    object-fit: cover;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background-color: $profile-image-bg;
    margin-right: map-get($pad, "default");
    flex-shrink: 0;

    @include set-media(map-get($screen, "tablet")) {
        width: 4.8rem;
        height: 4.8rem;
    }
}

%limiting-container {
    max-width: $max-width-container;
    padding-right: map-get($pad, "default");
    padding-left:map-get($pad, "default");
    position: relative;

    @include set-media(map-get($screen, "tablet")) {
        padding-right: map-get($pad, "tablet");
        padding-left:map-get($pad, "tablet");
        margin-right: auto;
        margin-left: auto;
    }

    @include set-media(map-get($screen, "desktop")) {
        padding-right: 0;
        padding-left:0;
        margin-right: auto;
        margin-left: auto;
    }
}

%headline {
    padding-top: map-get($pad-heading, "default");

    @include set-media(map-get($screen, "tablet")) {
        padding-top: map-get($pad-heading, "tablet");
    }
}