// flex
%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex--column {
    @extend %flex;
    flex-direction: column;
}

// cover whole parent
%cover {
    height: 100%;
    width: 100%;
}