// color usage
$primary-color-dark-bg: white;
$primary-color-light-bg: #323232;   // bandsite-black
$primary-dark-bg: #323232;          // bandsite-black
$primary-light-bg: white;
$active-cta-color: white;
$inactive-cta-color: #AFAFAF;       //silver

$cta-hover-bg: black;               //bandsite-darkblack
$divider-line-color: #E1E1E1;       //mercury
$alternative-light-bg: #FAFAFA;     //alabaster