.comments__form-container, .comments__card, .comments__card-name-date, .hero__ctx, .nav__list, .band .info, .gallery, .gallery__container, .comments__form, .hero--shows .hero__ctx, .nav, footer .contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}

.band .info, .gallery, .gallery__container, .comments__form, .hero--shows .hero__ctx, .nav, footer .contacts {
  flex-direction: column;
}

.hero__mask, .hero__ctx {
  height: 100%;
  width: 100%;
}

.nav--main .nav__item--active .nav__link, .nav--main .nav__link:hover {
  color: inherit;
  border-bottom: 4px solid;
  border-bottom-color: inherit;
}

h1, h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
}

.comments__form-container, .comments__card {
  max-width: 64rem;
}
@media (min-width: 768px) {
  .comments__form-container, .comments__card {
    margin-left: auto;
    margin-right: auto;
  }
}

.comments__form-profile, .comments__card-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background-color: #E1E1E1;
  margin-right: 1.6rem;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .comments__form-profile, .comments__card-image {
    width: 4.8rem;
    height: 4.8rem;
  }
}

.about__limiting-container, .gallery__limiting-container, .hero__ctx, .limiting-container, .comments__limiting-container {
  max-width: 1170px;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  position: relative;
}
@media (min-width: 768px) {
  .about__limiting-container, .gallery__limiting-container, .hero__ctx, .limiting-container, .comments__limiting-container {
    padding-right: 3.6rem;
    padding-left: 3.6rem;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1280px) {
  .about__limiting-container, .gallery__limiting-container, .hero__ctx, .limiting-container, .comments__limiting-container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

.about__heading, .gallery__heading, .comments__heading, .nav__header {
  padding-top: 2.4rem;
}
@media (min-width: 768px) {
  .about__heading, .gallery__heading, .comments__heading, .nav__header {
    padding-top: 4.8rem;
  }
}

html {
  font-family: "Avenir Next";
  font-size: 62.5%;
  color: #323232;
  min-width: 280px;
}

body {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
    line-height: 6.8rem;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
}

h3 {
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  h3 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
}

address, p, blockquote, a, cite {
  font-size: 1.3rem;
  line-height: 1.8rem;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 768px) {
  address, p, blockquote, a, cite {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

p, blockquote, a, cite {
  max-width: 65ch;
}

cite {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

img {
  display: block;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../assets/fonts/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../assets/fonts/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../assets/fonts/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
header {
  background-color: #323232;
  color: white;
}

footer {
  background-color: #323232;
  color: white;
}
footer .contacts {
  align-items: flex-start;
}
footer .contacts .contact {
  margin-top: 1.6rem;
}
footer .contacts .contact > * {
  margin-top: 1.6rem;
}
footer .contacts .contact .contact__person {
  font-weight: 700;
}
@media (min-width: 768px) {
  footer .contacts .contact {
    margin: 3.6rem 2.4rem 3.6rem 0;
  }
}
@media (min-width: 768px) {
  footer .contacts {
    flex-direction: row;
    justify-content: flex-start;
  }
}
footer .heading {
  font-weight: 400;
  font-size: 1.8rem;
  padding-top: 4.8rem;
}
@media (min-width: 768px) {
  footer .heading {
    position: absolute;
    top: 0;
    right: 3.6rem;
  }
}
footer .copyright {
  padding: 1.6rem 0;
}
@media (min-width: 768px) {
  footer {
    padding-bottom: 3.6rem;
  }
  footer p, footer a {
    line-height: 2rem;
  }
}

.limiting-container--header {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .limiting-container--header {
    padding-right: 3.6rem;
    padding-left: 3.6rem;
  }
}
@media (min-width: 1280px) {
  .limiting-container--header {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

.cta-button, .comments__form-submit {
  background-color: #323232;
  color: white;
  height: 4rem;
  width: 100%;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
@media (min-width: 768px) {
  .cta-button--shows {
    width: 25%;
    align-self: flex-end;
  }
}
.cta-button:hover, .comments__form-submit:hover {
  background-color: black;
}

.nav--main .nav__header {
  padding-top: 1.6rem;
}
@media (min-width: 768px) {
  .nav--main .nav__header {
    font-weight: 400;
    font-size: 2.4rem;
    padding: 0;
  }
}
.nav--main .nav__list {
  justify-content: space-around;
  width: 100%;
}
@media (min-width: 768px) {
  .nav--main .nav__list {
    justify-content: flex-start;
  }
}
.nav--main .nav__item {
  width: 50%;
  text-align: center;
}
.nav--main .nav__item--active .nav__link {
  font-weight: 700;
}
@media (min-width: 768px) {
  .nav--main .nav__item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 3.6rem;
  }
}
.nav--main .nav__link {
  display: block;
  color: #E1E1E1;
  padding: 1.6rem;
}
@media (min-width: 768px) {
  .nav--main .nav__link {
    display: inline-block;
    padding: 3.6rem 0;
  }
}
@media (min-width: 768px) {
  .nav--main {
    flex-direction: row;
  }
}
.nav--footer {
  align-items: flex-start;
}
.nav--footer .nav__header {
  font-weight: 700;
}
.nav--footer .nav__list {
  margin-top: 1.6rem;
}
@media (min-width: 768px) {
  .nav--footer .nav__list {
    margin-left: 3.6rem;
    margin-top: 3.6rem;
  }
}
.nav--footer .nav__item {
  padding-right: 3.2rem;
}
@media (min-width: 768px) {
  .nav--footer {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}

.hero {
  background-image: url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vw;
  min-height: 150px;
  max-height: 720px;
  color: white;
  position: relative;
  z-index: 1;
}
.hero--shows {
  background-image: url("../assets/images/hero-shows.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.hero--shows .hero__ctx {
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 1.6rem;
}
@media (min-width: 768px) {
  .hero--shows .hero__ctx {
    padding: 0 3.6rem;
  }
}
@media (min-width: 1280px) {
  .hero--shows .hero__ctx {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
.hero--shows .hero__title {
  max-width: 15ch;
  margin-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .hero--shows .hero__title {
    margin-bottom: 3.6rem;
  }
}
.hero--shows .hero__subtitle {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .hero--shows .hero__subtitle {
    font-size: 2.8rem;
    margin-bottom: 3.6rem;
  }
}
.hero--shows .hero__player {
  display: block;
  width: 100%;
  max-width: 48rem;
}
@media (min-width: 768px) {
  .hero--shows {
    height: 66vw;
  }
}
.hero__mask {
  background-color: rgba(50, 50, 50, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.hero__ctx {
  justify-content: flex-start;
  position: relative;
  z-index: 2;
}

.about {
  width: 100%;
}
.about__image {
  width: 100%;
  max-width: 80rem;
  margin-top: 1.6rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .about__image {
    margin-top: 3.6rem;
  }
}
.about .quote-container__quote {
  font-weight: 600;
  margin-top: 1.6rem;
}
@media (min-width: 600px) {
  .about .quote-container__quote {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .about .quote-container__quote {
    margin-top: 3.6rem;
    font-size: 1.8rem;
  }
}
.about .quote-container__citation {
  font-weight: 600;
  margin-top: 1.6rem;
}
.about .quote-container__citation::before {
  content: "- ";
}
@media (min-width: 600px) {
  .about .quote-container__citation {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.band .info {
  align-items: flex-start;
}
.band .info__part {
  margin-top: 1.6rem;
}
.band .info__part--2 {
  margin-bottom: 1.6rem;
}
@media (min-width: 600px) {
  .band .info__part {
    width: 48%;
  }
}
@media (min-width: 768px) {
  .band .info__part {
    margin-top: 3.6rem;
    margin-bottom: 3.6rem;
  }
}
@media (min-width: 600px) {
  .band .info {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 600px) {
  .band {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.gallery {
  align-items: flex-start;
  width: 100%;
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .gallery__heading {
    margin-left: 1.2rem;
  }
}
@media (min-width: 768px) {
  .gallery__container {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: 0 auto;
  }
}
.gallery__item {
  width: 100%;
  margin: 1.6rem;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}
.gallery__item:hover {
  filter: grayscale(0);
}
@media (min-width: 768px) {
  .gallery__item {
    margin: 0.8rem;
    width: 30%;
  }
}
@media (min-width: 1280px) {
  .gallery__item {
    margin: 1.2rem;
  }
}
@media (min-width: 768px) {
  .gallery {
    margin: 0 auto;
    padding: 0 0 3.6rem;
  }
}

.comments__form-container {
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  width: 100%;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .comments__form-container {
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
  }
}
.comments__form {
  align-items: flex-start;
  width: 100%;
  border-radius: 0.4rem;
}
.comments__form-input {
  height: 3.6rem;
  width: 100%;
  margin-top: 0.4rem;
  margin-bottom: 1.2rem;
  padding: 1.2rem;
  border: 1px solid #E1E1E1;
  border-radius: 0.4rem;
}
.comments__form-input--textarea {
  height: 9rem;
}
.comments__form-input--error {
  border-color: #D22D2D;
}
.comments__form-input:focus {
  border-color: black;
}
.comments__form-label {
  color: #AFAFAF;
  font-weight: 600;
}
@media (min-width: 768px) {
  .comments__form-submit {
    width: 15rem;
    align-self: flex-end;
  }
}
.comments__card {
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #E1E1E1;
}
.comments__card:last-child {
  margin-bottom: 1.6rem;
}
.comments__card-name-date {
  justify-content: space-between;
}
.comments__card-ctx {
  flex-grow: 1;
}
.comments__card-name {
  font-weight: 700;
}
.comments__card-date {
  color: #AFAFAF;
}
.comments__card-date--diff {
  font-size: 1rem;
  font-style: italic;
}
.comments__card-text {
  margin-top: 1.6rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .comments__card {
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
  }
}/*# sourceMappingURL=bio.css.map */