// setup and resets
@use "./partials/1-helpers/all-helpers" as *;
@use "./partials/2-basics/basics";

// layout and components
@use "./partials/3-components/nav";
@use "./partials/3-components/hero";

// bio page
.about {
    width: 100%;

    &__image {
        width: 100%;
        max-width: $max-width;
        margin-top: map-get($pad, "default");
        margin-left: auto;
        margin-right: auto;

        @include set-media(map-get($screen, "tablet")) {
            margin-top: map-get($pad, "tablet");
        }
    }

    .quote-container {
        &__quote {  
            font-weight: 600;
            
            margin-top: map-get($pad, "default");

            @include center-body-text;

            @include set-media(map-get($screen, "tablet")) {
                margin-top: map-get($pad, "tablet");
                font-size: 1.8rem;
            }
        }
    
        &__citation {
            font-weight: 600;
            margin-top: map-get($pad, "default");
            &::before {
                content: "- ";
            }

            @include center-body-text;
        }

        // @include center-body-text;
    }
}

.band {
    .info {
        @extend %flex--column;
        align-items: flex-start;
        &__part {
            margin-top: map-get($pad, "default");
    
            &--2 {
                margin-bottom: map-get($pad, "default");;
            }

            @include set-media(map-get($screen, "mobile2")) {
                width: 48%;         // split info into 2 columns premarturely for readability
            }

            @include set-media(map-get($screen, "tablet")) {
                margin-top: map-get($pad, "tablet");
                margin-bottom: map-get($pad, "tablet");
            }
        }
        @include set-media(map-get($screen, "mobile2")) {
            flex-direction: row;    // split info into 2 columns premarturely for readability
            justify-content: space-between;
        }
    }
    @include center-body-text;
}


.gallery {
    @extend %flex--column;
    align-items: flex-start;
    width: 100%;
    background-color: $alternative-light-bg;
    
    &__heading {
        @include set-media(map-get($screen, "tablet")) {
            margin-left: 1.2rem;
        }
    }

    &__container {
        @extend %flex--column;

        @include set-media(map-get($screen, "tablet")) {
            flex-direction: row;
            flex-wrap: wrap;
            max-width: $max-width-container;
            margin: 0 auto;
        }
    }

    &__item {
        width: 100%;
        margin: map-get($pad, "default");
        filter: grayscale(100%);
        transition: filter 0.5s ease;

        &:hover {
            filter: grayscale(0);
        }

        @include set-media(map-get($screen, "tablet")) {
            margin: 0.8rem;
            width: 30%;
        }

        @include set-media(map-get($screen, "desktop")) {
            margin: 1.2rem;
        }
    }

    @include set-media(map-get($screen, "tablet")) {
        margin: 0 auto;
        padding: 0 0 map-get($pad, "tablet");
    }
}


.comments {

    &__limiting-container {
        @extend .limiting-container;
    }

    &__form-container {
        @extend %flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: map-get($pad, "default");
        padding-bottom: map-get($pad, "default");
        width: 100%;
        border-bottom: 1px solid $divider-line-color;
        @extend %comments-container;

        @include set-media(map-get($screen, "tablet")) {
            padding-top: map-get($pad, "tablet");
            padding-bottom: map-get($pad, "tablet");
        }
    }

    &__form {
        @extend %flex--column;
        align-items: flex-start;
        width: 100%;
        border-radius: .4rem;
        

        &-profile {
            @extend %profile-img;
        }

        &-input{
            height: $input-height;
            width: 100%;
            margin-top: .4rem;
            margin-bottom: 1.2rem;
            padding: 1.2rem;
            border: 1px solid $divider-line-color;
            border-radius: .4rem;

            &--textarea {
                height:  $input-height * 2.5;
            }

            &--error {
                border-color: $input-error-color;
            }

            &:focus {
                border-color: $cta-hover-bg;
            }
        }

        &-label {
            color: $labels-color;
            font-weight: 600;

        }

        &-submit {
            @extend .cta-button;

            @include set-media(map-get($screen, "tablet")) {
                width: 15rem;
                align-self: flex-end;
            }
        }
    }

    &__card {
        @extend %comments-container;
        @extend %flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: map-get($pad, "default");
        padding-bottom: map-get($pad, "default");
        border-bottom: 1px solid $divider-line-color;

        &:last-child {
            margin-bottom: map-get($pad, "default");
        }

        &-image {
            @extend %profile-img;
        }

        &-name-date {
            @extend %flex;
            justify-content: space-between;
        }

        &-ctx {
            flex-grow: 1;
        }

        &-name {
            font-weight: 700;
        }

        &-date {
            color: $labels-color;

            &--diff {
                font-size: 1rem;
                font-style: italic;
            }
        }

        &-text {
            margin-top: map-get($pad, "default");
            font-weight: 600;
        }

        @include set-media(map-get($screen, "tablet")) {
            padding-top: map-get($pad, "tablet");
            padding-bottom: map-get($pad, "tablet");
        }
    }
}