// setup and resets
@use "./partials/1-helpers/all-helpers" as *;
@use "./partials/2-basics/basics";

// layout and components
@use "./partials/3-components/nav";
@use "./partials/3-components/hero";

// shows page
.shows {
    @extend %flex--column;
    align-items: flex-start;
    margin: 0;
    padding: map-get($pad, "default");

    &__list {
        width: 100%;
    }

    &__item {
        padding: map-get($pad, "default") 0;
        border-bottom: 1px solid $divider-line-color;
    }

    &__ctx-container {
        padding-bottom: map-get($pad, "default");
    }

    &__detail {
        font-weight: 600;

        &--label {
            color: $labels-color;
        }

        &--date {
            font-weight: 700;
        }
    }
}